---
layout: default
---

<!--<div class="home">-->
<div>
    
  <div class = "home-body">
      <!--Temporary until I figure out how to get it from gitlab
      <img class = "home-back" src="https://images.pexels.com/photos/417045/pexels-photo-417045.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"/>
      -->
      
      <h2 class="home-body-text">Aspiring software engineer and UI designer that aspires to work with you.</h2>
      
      <a class="button" href="/Pages/portfolio">Portfolio</a>
      <a class="button" href="/resume">Resume</a>

  </div>
  <!--<h1 class="page-heading">About Me</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>

